<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/otp.css') }}">
  <title>نظام التحقق</title>
  
</head>
<body>
  <div class="container">
    <h1>رمز التحقق</h1>

    <p style="text-align: center; margin-bottom: 20px;">أدخل رمز التحقق المكون من 6 أرقام</p>
    
    <div id = 'otp' class="otp-inputs">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
      <input class="otp-box" type="text" maxlength="1" inputmode="numeric">
    </div>
    
    <button id="verifyOtpBtn"  onclick="verify_otp()">تحقق</button>

    <div id="result" class="message hidden"></div>
  </div>

  <script src="{{ url_for('static', filename='js/otp.js') }}"></script>
</body>
</html>