<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">    <title>Login Page</title>
</head>
<body>
    <div class="container">

        <div class="forms">

            <div class="form login">
                <span class="title">Registration</span>
                <form action="#" >

                   <div class="input-field">
                     <input type="text" placeholder= "Enter your first name" required>
                  <i class="uil uil-user"></i>
                   </div>

                   <div class="input-field">
                     <input type="text" placeholder= "Enter your last name" required>
                    <i class="uil uil-user"></i>
                   </div>

                   <div class="input-field">
                     <input type="email" placeholder= "Enter your email" id = "email" required>
                    <i class="uil uil-envelope-alt icon"></i>
                   </div>

                   <div class="input-field">
                     <input type="password" class= 'password' placeholder= "Enter your password" required>
                    <i class="uil uil-padlock icon"></i>
                    <i class="uil uil-eye-slash ShowHidePw"></i>
                   </div>

                   <div class="input-field button">
                   <button type="button" class="btn" onclick="sendOTP()">
                        Signup Now
                        </button> 
                   </div>

                </form>

                <div class="login-signup">
                    <span class="text">You already have acount ?
                        <a href="/" class="text signup-text">Login now </a>
                    </span>
                </div>

            </div>

        </div>

    </div>

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
</html>